doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    title Reading List - #{meta.name}
    link(rel="stylesheet" href="styles.css")

  body
    .reading-list
      header.reading-list__header
        .header__hero-image
        .header__avatar-image

        h1.title #{meta.name}
        h2.subtitle Reading List

      section.reading-list__content
        nav.reading-list__year-list
          ul
            each year in Array.from(years.values())
              li: a(href=year) #{year}
 
        each year in Array.from(years.values())
          .reading-list__year
            h2: a(id=year) #{year}

            ul.year__book-list
              each book in sections.get(year)
                li.book-list__book
                  if book.link
                    | #[span.book-list__title: a(href=book.link) #{book.title}] &mdash; #[span.book-list__author #{book.author}]
                  else
                    | #[span.book-list__title #{book.title}] &mdash; #[span.book-list__author #{book.author}]

      footer.reading-list__footer
        | Created with &hearts; using #[a(href="https://github.com/jtompkins/readinglist.js") readinglist.js]
